Repository golemfactory/yagna, pull requests merged in 2020-07, with the labels that each got.

#388 GFTP: Flush file on finishing an upload (receiving side)
  core/gftp/src/gftp.rs
  core/model/src/gftp.rs
  utils/transfer/src/gftp.rs
Labels: t-exe-unit

#346 Market decentralized - query events
  Cargo.lock
  core/market/decentralized/Cargo.toml
  core/market/decentralized/migrations/2020-05-15-093513_init-db/down.sql
  core/market/decentralized/migrations/2020-05-15-093513_init-db/up.sql
  core/market/decentralized/src/db/dao.rs
  core/market/decentralized/src/db/dao/demand.rs
  core/market/decentralized/src/db/dao/events.rs
  core/market/decentralized/src/db/dao/offer.rs
  core/market/decentralized/src/db/dao/proposal.rs
  core/market/decentralized/src/db/models.rs
  core/market/decentralized/src/db/models/events.rs
  core/market/decentralized/src/db/models/offer.rs
  core/market/decentralized/src/db/models/proposal.rs
  core/market/decentralized/src/db/models/subscription_id.rs
  core/market/decentralized/src/db/schema.rs
  core/market/decentralized/src/lib.rs
  core/market/decentralized/src/market.rs
  core/market/decentralized/src/matcher.rs
  core/market/decentralized/src/negotiation/errors.rs
  core/market/decentralized/src/negotiation/mod.rs
  core/market/decentralized/src/negotiation/notifier.rs
  core/market/decentralized/src/negotiation/provider.rs
  core/market/decentralized/src/negotiation/requestor.rs
  core/market/decentralized/src/protocol/discovery.rs
  core/market/decentralized/src/rest_api.rs
  core/market/decentralized/src/rest_api/error.rs
  core/market/decentralized/src/rest_api/requestor.rs
  core/market/decentralized/tests/test_initial_proposal.rs
  core/market/decentralized/tests/test_offer_broadcast.rs
  core/market/decentralized/tests/utils/mock_node.rs
  core/market/decentralized/tests/utils/mock_offer.rs
Labels: m-market

#375 Negotiation API structs function signatures
  core/market/decentralized/src/lib.rs
  core/market/decentralized/src/negotiation/errors.rs
  core/market/decentralized/src/negotiation/provider.rs
  core/market/decentralized/src/negotiation/requestor.rs
  core/market/decentralized/src/protocol/mod.rs
  core/market/decentralized/src/protocol/negotiation.rs
  core/market/decentralized/src/protocol/negotiation/errors.rs
  core/market/decentralized/src/protocol/negotiation/messages.rs
  core/market/decentralized/src/protocol/negotiation/provider.rs
  core/market/decentralized/src/protocol/negotiation/requestor.rs
  core/market/decentralized/tests/test_negotiation.rs
  core/market/decentralized/tests/test_rest_api.rs
  core/market/decentralized/tests/utils/mock_net.rs
  core/market/decentralized/tests/utils/mock_node.rs
Labels: m-market

#399 Market decentralized/stranger80 resolver
  Cargo.lock
  Cargo.toml
  core/market/resolver/Cargo.toml
  core/market/resolver/src/flatten.rs
  core/market/resolver/src/lib.rs
  core/market/resolver/src/resolver/errors.rs
  core/market/resolver/src/resolver/expression.rs
  core/market/resolver/src/resolver/ldap_parser.rs
  core/market/resolver/src/resolver/matching.rs
  core/market/resolver/src/resolver/mod.rs
  core/market/resolver/src/resolver/prepare.rs
  core/market/resolver/src/resolver/prop_parser.rs
  core/market/resolver/src/resolver/properties.rs
  core/market/resolver/tests/expression_aspects.rs
  core/market/resolver/tests/expression_build.rs
  core/market/resolver/tests/expression_int.rs
  core/market/resolver/tests/expression_resolve.rs
  core/market/resolver/tests/flatten.rs
  core/market/resolver/tests/ldap-parser.rs
  core/market/resolver/tests/match_demand_offer.rs
  core/market/resolver/tests/matching.rs
  core/market/resolver/tests/prop-parser.rs
  core/market/resolver/tests/properties.rs
  core/market/resolver/tests/properties_list.rs
  core/market/resolver/tests/properties_string.rs
  core/market/resolver/tests/properties_version.rs
  core/market/resolver/tests/sample/mod.rs
Labels: m-market

#403 Adjust payment-dummy-driver to new api
  Cargo.lock
  Cargo.toml
  core/model/src/driver.rs
  core/payment-driver/dummy/Cargo.toml
  core/payment-driver/dummy/src/lib.rs
  core/payment-driver/dummy/src/service.rs
  core/payment-driver/src/dao/payment.rs
  core/payment-driver/src/lib.rs
  core/payment-driver/src/utils.rs
  core/serv/src/main.rs
Labels: m-payment

#395 Adjust payment service to new driver API
  Cargo.lock
  Cargo.toml
  agent/requestor/src/payment.rs
  core/model/src/driver.rs
  core/model/src/payment.rs
  core/payment-driver/dummy/Cargo.toml
  core/payment-driver/dummy/src/lib.rs
  core/payment-driver/dummy/src/service.rs
  core/payment/Cargo.toml
  core/payment/examples/README.md
  core/payment/examples/debit_note_flow.rs
  core/payment/examples/invoice_flow.rs
  core/payment/examples/payment_api.rs
  core/payment/migrations/2020-01-23-123456_init/up.sql
  core/payment/src/cli.rs
  core/payment/src/dao.rs
  core/payment/src/dao/agreement.rs
  core/payment/src/dao/allocation.rs
  core/payment/src/dao/debit_note.rs
  core/payment/src/dao/invoice.rs
  core/payment/src/dao/order.rs
  core/payment/src/dao/payment.rs
  core/payment/src/error.rs
  core/payment/src/lib.rs
  core/payment/src/models.rs
  core/payment/src/models/agreement.rs
  core/payment/src/models/allocation.rs
  core/payment/src/models/debit_note.rs
  core/payment/src/models/invoice.rs
  core/payment/src/models/order.rs
  core/payment/src/models/payment.rs
  core/payment/src/processor.rs
  core/payment/src/schema.rs
  core/payment/src/service.rs
Labels: m-payment

#392 get_offers endpoint
  core/market/decentralized/src/db/dao/offer.rs
  core/market/decentralized/src/db/models/offer.rs
  core/market/decentralized/src/market.rs
  core/market/decentralized/src/matcher.rs
  core/market/decentralized/src/matcher/error.rs
  core/market/decentralized/src/matcher/store.rs
  core/market/decentralized/src/rest_api/provider.rs
  core/market/decentralized/tests/test_rest_api.rs
Labels: m-market

#333 Market decentralized resolver
  Cargo.lock
  core/market/decentralized/Cargo.toml
  core/market/decentralized/src/db.rs
  core/market/decentralized/src/db/dao/demand.rs
  core/market/decentralized/src/db/dao/events.rs
  core/market/decentralized/src/db/dao/offer.rs
  core/market/decentralized/src/db/models/demand.rs
  core/market/decentralized/src/db/models/offer.rs
  core/market/decentralized/src/db/models/subscription_id.rs
  core/market/decentralized/src/lib.rs
  core/market/decentralized/src/market.rs
  core/market/decentralized/src/matcher.rs
  core/market/decentralized/src/matcher/error.rs
  core/market/decentralized/src/matcher/resolver.rs
  core/market/decentralized/src/matcher/store.rs
  core/market/decentralized/src/negotiation/errors.rs
  core/market/decentralized/src/negotiation/mod.rs
  core/market/decentralized/src/negotiation/provider.rs
  core/market/decentralized/src/negotiation/requestor.rs
  core/market/decentralized/src/protocol/discovery.rs
  core/market/decentralized/src/protocol/discovery/builder.rs
  core/market/decentralized/src/protocol/mod.rs
  core/market/decentralized/src/rest_api/error.rs
  core/market/decentralized/src/testing.rs
  core/market/decentralized/src/testing/mock_offer.rs
  core/market/decentralized/tests/test_initial_proposal.rs
  core/market/decentralized/tests/test_offer_broadcast.rs
  core/market/decentralized/tests/test_resolver.rs
  core/market/decentralized/tests/test_rest_api.rs
  core/market/decentralized/tests/test_subscription.rs
  core/market/decentralized/tests/utils/bcast.rs
  core/market/decentralized/tests/utils/bcast/singleton.rs
  core/market/decentralized/tests/utils/mock_net.rs
  core/market/decentralized/tests/utils/mock_node.rs
  core/market/decentralized/tests/utils/mock_offer.rs
  core/market/decentralized/tests/utils/mod.rs
Labels: m-market

#389 ExeUnit Runtime server support
  exe-unit/Cargo.toml
  exe-unit/examples/commands-server.json
  exe-unit/examples/runtime-server.rs
  exe-unit/runtime-api/Cargo.toml
  exe-unit/runtime-api/src/server.rs
  exe-unit/src/error.rs
  exe-unit/src/lib.rs
  exe-unit/src/message.rs
  exe-unit/src/runtime.rs
  exe-unit/src/runtime/event.rs
  exe-unit/src/runtime/process.rs
Labels: t-exe-unit

#398 Counter initial proposal on requestor
  core/market/decentralized/src/db/dao/events.rs
  core/market/decentralized/src/db/dao/proposal.rs
  core/market/decentralized/src/db/models.rs
  core/market/decentralized/src/db/models/events.rs
  core/market/decentralized/src/db/models/proposal.rs
  core/market/decentralized/src/db/models/proposal_id.rs
  core/market/decentralized/src/market.rs
  core/market/decentralized/src/matcher.rs
  core/market/decentralized/src/negotiation/errors.rs
  core/market/decentralized/src/negotiation/provider.rs
  core/market/decentralized/src/negotiation/requestor.rs
  core/market/decentralized/src/protocol/negotiation/errors.rs
  core/market/decentralized/src/protocol/negotiation/messages.rs
  core/market/decentralized/src/protocol/negotiation/provider.rs
  core/market/decentralized/src/protocol/negotiation/requestor.rs
  core/market/decentralized/src/rest_api/error.rs
  core/market/decentralized/src/rest_api/provider.rs
  core/market/decentralized/src/rest_api/requestor.rs
  core/market/decentralized/src/testing.rs
  core/market/decentralized/tests/test_initial_proposal.rs
  core/market/decentralized/tests/test_market_initialization.rs
  core/market/decentralized/tests/test_negotiation.rs
  core/market/decentralized/tests/utils/mock_net.rs
  core/market/decentralized/tests/utils/mock_node.rs
Labels: m-market

#348 Provider agent: hardware profiles & live preset reloading
  Cargo.lock
  agent/provider/Cargo.toml
  agent/provider/examples/presets.json
  agent/provider/readme.md
  agent/provider/src/events.rs
  agent/provider/src/hardware.rs
  agent/provider/src/main.rs
  agent/provider/src/market/mod.rs
  agent/provider/src/market/presets.rs
  agent/provider/src/market/provider_market.rs
  agent/provider/src/payments/linear_pricing.rs
  agent/provider/src/preset_cli.rs
  agent/provider/src/provider_agent.rs
  agent/provider/src/startup_config.rs
  agent/provider/test-resources/exeunits.json
  utils/agreement-utils/src/agreement.rs
  utils/agreement-utils/src/typed_props.rs
  utils/path/Cargo.toml
  utils/path/src/data_dir.rs
  utils/path/src/lib.rs
Labels: t-exe-unit

#410 Market decentralized - create agreement
  core/market/decentralized/migrations/2020-05-15-093513_init-db/down.sql
  core/market/decentralized/migrations/2020-05-15-093513_init-db/up.sql
  core/market/decentralized/src/db/dao.rs
  core/market/decentralized/src/db/dao/agreement.rs
  core/market/decentralized/src/db/dao/events.rs
  core/market/decentralized/src/db/dao/proposal.rs
  core/market/decentralized/src/db/models.rs
  core/market/decentralized/src/db/models/agreement.rs
  core/market/decentralized/src/db/models/events.rs
  core/market/decentralized/src/db/models/proposal.rs
  core/market/decentralized/src/db/models/proposal_id.rs
  core/market/decentralized/src/db/schema.rs
  core/market/decentralized/src/lib.rs
  core/market/decentralized/src/negotiation/common.rs
  core/market/decentralized/src/negotiation/errors.rs
  core/market/decentralized/src/negotiation/mod.rs
  core/market/decentralized/src/negotiation/provider.rs
  core/market/decentralized/src/negotiation/requestor.rs
  core/market/decentralized/src/rest_api.rs
  core/market/decentralized/src/rest_api/error.rs
  core/market/decentralized/src/rest_api/requestor.rs
  core/market/decentralized/src/testing.rs
  core/market/decentralized/tests/test_initial_proposal.rs
Labels: m-market

#413 Market decentralized/cleanup
  Cargo.lock
  core/market/decentralized/Cargo.toml
  core/market/decentralized/src/db.rs
  core/market/decentralized/src/db/dao/demand.rs
  core/market/decentralized/src/db/dao/events.rs
  core/market/decentralized/src/db/dao/offer.rs
  core/market/decentralized/src/db/error.rs
  core/market/decentralized/src/db/models/events.rs
  core/market/decentralized/src/db/models/offer.rs
  core/market/decentralized/src/lib.rs
  core/market/decentralized/src/market.rs
  core/market/decentralized/src/matcher.rs
  core/market/decentralized/src/matcher/error.rs
  core/market/decentralized/src/negotiation/errors.rs
  core/market/decentralized/src/negotiation/provider.rs
  core/market/decentralized/src/negotiation/requestor.rs
  core/market/decentralized/src/protocol/callbacks.rs
  core/market/decentralized/src/protocol/discovery.rs
  core/market/decentralized/src/protocol/discovery/builder.rs
  core/market/decentralized/src/protocol/negotiation/provider.rs
  core/market/decentralized/src/protocol/negotiation/requestor.rs
  core/market/decentralized/src/rest_api.rs
  core/market/decentralized/src/rest_api/error.rs
  core/market/decentralized/src/rest_api/provider.rs
  core/market/decentralized/src/rest_api/requestor.rs
  core/market/decentralized/src/testing.rs
  core/market/decentralized/src/testing/bcast.rs
  core/market/decentralized/src/testing/bcast/singleton.rs
  core/market/decentralized/src/testing/mock_net.rs
  core/market/decentralized/src/testing/mock_node.rs
  core/market/decentralized/tests/test_initial_proposal.rs
  core/market/decentralized/tests/test_offer_broadcast.rs
  core/market/decentralized/tests/test_resolver.rs
  core/market/decentralized/tests/test_rest_api.rs
  core/market/decentralized/tests/test_subscription.rs
  core/market/decentralized/tests/utils/mod.rs
Labels: m-market

#422 Market decentralized/remove dead code warnings
  core/market/decentralized/Cargo.toml
  core/market/decentralized/src/db.rs
  core/market/decentralized/src/db/dao/agreement.rs
  core/market/decentralized/src/db/dao/demand.rs
  core/market/decentralized/src/db/dao/events.rs
  core/market/decentralized/src/db/dao/offer.rs
  core/market/decentralized/src/db/dao/proposal.rs
  core/market/decentralized/src/db/model.rs
  core/market/decentralized/src/db/model/agreement.rs
  core/market/decentralized/src/db/model/demand.rs
  core/market/decentralized/src/db/model/events.rs
  core/market/decentralized/src/db/model/offer.rs
  core/market/decentralized/src/db/model/proposal.rs
  core/market/decentralized/src/db/model/proposal_id.rs
  core/market/decentralized/src/db/model/subscription_id.rs
  core/market/decentralized/src/lib.rs
  core/market/decentralized/src/market.rs
  core/market/decentralized/src/matcher.rs
  core/market/decentralized/src/matcher/error.rs
  core/market/decentralized/src/matcher/resolver.rs
  core/market/decentralized/src/matcher/store.rs
  core/market/decentralized/src/negotiation.rs
  core/market/decentralized/src/negotiation/common.rs
  core/market/decentralized/src/negotiation/error.rs
  core/market/decentralized/src/negotiation/notifier.rs
  core/market/decentralized/src/negotiation/provider.rs
  core/market/decentralized/src/negotiation/requestor.rs
  core/market/decentralized/src/protocol.rs
  core/market/decentralized/src/protocol/callback.rs
  core/market/decentralized/src/protocol/discovery.rs
  core/market/decentralized/src/protocol/discovery/builder.rs
  core/market/decentralized/src/protocol/mod.rs
  core/market/decentralized/src/protocol/negotiation.rs
  core/market/decentralized/src/protocol/negotiation/error.rs
  core/market/decentralized/src/protocol/negotiation/messages.rs
  core/market/decentralized/src/protocol/negotiation/provider.rs
  core/market/decentralized/src/protocol/negotiation/requestor.rs
  core/market/decentralized/src/rest_api.rs
  core/market/decentralized/src/rest_api/error.rs
  core/market/decentralized/src/rest_api/provider.rs
  core/market/decentralized/src/rest_api/requestor.rs
  core/market/decentralized/src/testing.rs
  core/market/decentralized/src/testing/mock_node.rs
  core/market/decentralized/src/testing/mock_offer.rs
  core/market/decentralized/tests/test_initial_proposal.rs
  core/market/decentralized/tests/test_offer_broadcast.rs
  core/market/decentralized/tests/test_rest_api.rs
  core/market/resolver/src/lib.rs
  core/market/resolver/src/resolver.rs
  core/market/resolver/src/resolver/error.rs
  core/market/resolver/src/resolver/expression.rs
  core/market/resolver/src/resolver/matching.rs
  core/market/resolver/src/resolver/prepare.rs
  core/market/resolver/src/resolver/properties.rs
  core/market/resolver/tests/matching.rs
  core/market/resolver/tests/properties.rs
Labels: m-market

#418 Market decentralized - provider counter draft proposal
  core/market/decentralized/migrations/2020-05-15-093513_init-db/up.sql
  core/market/decentralized/src/db/model/proposal.rs
  core/market/decentralized/src/db/schema.rs
  core/market/decentralized/src/negotiation/common.rs
  core/market/decentralized/src/negotiation/error.rs
  core/market/decentralized/src/negotiation/provider.rs
  core/market/decentralized/src/negotiation/requestor.rs
  core/market/decentralized/src/protocol/negotiation/error.rs
  core/market/decentralized/src/protocol/negotiation/messages.rs
  core/market/decentralized/src/rest_api/provider.rs
  core/market/decentralized/src/testing.rs
  core/market/decentralized/src/testing/events_helper.rs
  core/market/decentralized/tests/test_negotiations.rs
Labels: m-market

#417 Market decentralized/confirm agreement
  agent/requestor/src/market.rs
  core/market/decentralized/migrations/2020-05-15-093513_init-db/up.sql
  core/market/decentralized/src/db/dao/agreement.rs
  core/market/decentralized/src/db/dao/demand.rs
  core/market/decentralized/src/db/dao/events.rs
  core/market/decentralized/src/db/model.rs
  core/market/decentralized/src/db/model/agreement.rs
  core/market/decentralized/src/db/model/events.rs
  core/market/decentralized/src/db/model/proposal.rs
  core/market/decentralized/src/db/schema.rs
  core/market/decentralized/src/negotiation.rs
  core/market/decentralized/src/negotiation/error.rs
  core/market/decentralized/src/negotiation/provider.rs
  core/market/decentralized/src/negotiation/requestor.rs
  core/market/decentralized/src/protocol/discovery.rs
  core/market/decentralized/src/protocol/negotiation/error.rs
  core/market/decentralized/src/protocol/negotiation/messages.rs
  core/market/decentralized/src/protocol/negotiation/provider.rs
  core/market/decentralized/src/protocol/negotiation/requestor.rs
  core/market/decentralized/src/rest_api.rs
  core/market/decentralized/src/rest_api/error.rs
  core/market/decentralized/src/rest_api/requestor.rs
Labels: t-mkt

#421 [mkt] get rid of db cloning
  core/market/decentralized/src/negotiation/provider.rs
Labels: t-mkt

#433 Market decentralized/agreement approve
  agent/requestor/src/market.rs
  core/market/decentralized/src/db/model/agreement.rs
  core/market/decentralized/src/db/model/events.rs
  core/market/decentralized/src/negotiation/error.rs
  core/market/decentralized/src/negotiation/notifier.rs
  core/market/decentralized/src/negotiation/provider.rs
  core/market/decentralized/src/negotiation/requestor.rs
  core/market/decentralized/src/protocol/negotiation/error.rs
  core/market/decentralized/src/protocol/negotiation/provider.rs
  core/market/decentralized/src/protocol/negotiation/requestor.rs
  core/market/decentralized/src/rest_api/error.rs
  core/market/decentralized/src/rest_api/provider.rs
Labels: t-mkt

#441 [ya-prov] build and run from sources script
  agent/provider/build-run-ya-provider.sh
Labels: t-mkt

#448 [mkt] wait_for_approval return type conform to new spec
  agent/requestor/src/market.rs
  core/market/decentralized/src/negotiation/requestor.rs
Labels: t-mkt

#449 Minor fix to ya-requestor-sdk
  agent/requestor-sdk/src/requestor.rs
  core/market/decentralized/src/testing/mock_offer.rs
  core/market/resolver/tests/expression_resolve.rs
  core/market/resolver/tests/sample/mod.rs
Labels: bug, m-requestor

#443 test agreement phase of market interaction
  core/market/decentralized/src/db/model/proposal.rs
  core/market/decentralized/src/negotiation.rs
  core/market/decentralized/src/negotiation/common.rs
  core/market/decentralized/src/negotiation/error.rs
  core/market/decentralized/src/negotiation/provider.rs
  core/market/decentralized/src/negotiation/requestor.rs
  core/market/decentralized/src/protocol/negotiation/error.rs
  core/market/decentralized/src/protocol/negotiation/provider.rs
  core/market/decentralized/src/protocol/negotiation/requestor.rs
  core/market/decentralized/src/testing/events_helper.rs
  core/market/decentralized/src/testing/mock_net.rs
  core/market/decentralized/src/testing/mock_node.rs
  core/market/decentralized/src/testing/proposal_util.rs
  core/market/decentralized/tests/test_agreement.rs
  core/market/decentralized/tests/test_initial_proposal.rs
  core/market/decentralized/tests/test_negotiations.rs
  core/market/decentralized/tests/test_offer_broadcast.rs
Labels: t-mkt
