Repository golemfactory/yagna, pull requests merged in 2020-06, with the labels that each got.

#298 ExeUnit Supervisor: script termination
  Cargo.lock
  Cargo.toml
  exe-unit/examples/exe-unit2gsb.rs
  exe-unit/src/handlers/local.rs
  exe-unit/src/handlers/rpc.rs
  exe-unit/src/lib.rs
  exe-unit/src/message.rs
  exe-unit/src/state.rs
Labels: m-activity, m-exe-unit

#314 Exe unit/deploy
  exe-unit/Cargo.toml
  exe-unit/src/commands.rs
  exe-unit/src/lib.rs
  exe-unit/src/runtime.rs
  exe-unit/src/runtime/process.rs
  exe-unit/src/service/transfer.rs
  utils/transfer/src/lib.rs
Labels: m-exe-unit

#312 Debit note payments
  Cargo.lock
  Cargo.toml
  agent/provider/src/payments/payments.rs
  core/model/src/payment.rs
  core/payment/examples/README.md
  core/payment/examples/debit_note_flow.rs
  core/payment/examples/invoice_flow.rs
  core/payment/examples/payment_api.rs
  core/payment/migrations/2020-01-23-123456_init/down.sql
  core/payment/migrations/2020-01-23-123456_init/up.sql
  core/payment/src/api/requestor.rs
  core/payment/src/dao/activity.rs
  core/payment/src/dao/agreement.rs
  core/payment/src/dao/invoice.rs
  core/payment/src/dao/payment.rs
  core/payment/src/models/activity.rs
  core/payment/src/models/payment.rs
  core/payment/src/processor.rs
  core/payment/src/schema.rs
  core/payment/src/service.rs
Labels: m-payment

#316 ExeUnit Supervisor: hand off resource limiting to Runtime
  Cargo.lock
  exe-unit/Cargo.toml
  exe-unit/examples/agreement.json
  exe-unit/examples/commands.json
  exe-unit/examples/exe-unit2gsb.rs
  exe-unit/examples/transfer.rs
  exe-unit/examples/transfer_abort.rs
  exe-unit/src/agreement.rs
  exe-unit/src/bin.rs
  exe-unit/src/handlers/local.rs
  exe-unit/src/lib.rs
  exe-unit/src/metrics/error.rs
  exe-unit/src/metrics/mod.rs
  exe-unit/src/metrics/os/unix.rs
  exe-unit/src/metrics/os/win.rs
  exe-unit/src/process/mod.rs
  exe-unit/src/process/unix.rs
  exe-unit/src/process/win.rs
  exe-unit/src/runtime.rs
  exe-unit/src/runtime/process.rs
  exe-unit/src/service/metrics.rs
  utils/agreement-utils/src/agreement.rs
Labels: t-exe-unit

#294 Market decentralized - broadcast unsubscribes
  .github/workflows/rust.yml
  .pre-commit-config.yaml
  Cargo.lock
  core/market/decentralized/Cargo.toml
  core/market/decentralized/migrations/2020-05-15-093513_init-db/down.sql
  core/market/decentralized/migrations/2020-05-15-093513_init-db/up.sql
  core/market/decentralized/readme.md
  core/market/decentralized/src/api/response.rs
  core/market/decentralized/src/db/dao.rs
  core/market/decentralized/src/db/dao/demand.rs
  core/market/decentralized/src/db/dao/offer.rs
  core/market/decentralized/src/db/models.rs
  core/market/decentralized/src/db/models/demand.rs
  core/market/decentralized/src/db/models/offer.rs
  core/market/decentralized/src/db/models/subscription.rs
  core/market/decentralized/src/db/schema.rs
  core/market/decentralized/src/lib.rs
  core/market/decentralized/src/market.rs
  core/market/decentralized/src/matcher/matcher.rs
  core/market/decentralized/src/matcher/mod.rs
  core/market/decentralized/src/negotiation/provider.rs
  core/market/decentralized/src/negotiation/requestor.rs
  core/market/decentralized/src/protocol/callbacks.rs
  core/market/decentralized/src/protocol/discovery.rs
  core/market/decentralized/src/protocol/mod.rs
  core/market/decentralized/src/rest_api.rs
  core/market/decentralized/src/rest_api/error.rs
  core/market/decentralized/src/rest_api/provider.rs
  core/market/decentralized/src/rest_api/requestor.rs
  core/market/decentralized/tests/test_offer_broadcast.rs
  core/market/decentralized/tests/test_rest_api.rs
  core/market/decentralized/tests/test_subscription.rs
  core/market/decentralized/tests/utils/bcast.rs
  core/market/decentralized/tests/utils/bcast_singleton.rs
  core/market/decentralized/tests/utils/mock_net.rs
  core/market/decentralized/tests/utils/mock_node.rs
  core/market/decentralized/tests/utils/mod.rs
  core/model/Cargo.toml
  core/model/src/net.rs
  core/net/src/api.rs
  core/net/src/lib.rs
Labels: m-market
