Repository golemfactory/yagna, pull requests merged in 2020-05, with the labels that each got.

#166 Payment API database model change
  .env-template
  Cargo.lock
  Cargo.toml
  agent/provider/Cargo.toml
  agent/provider/src/payments/payments.rs
  agent/provider/src/provider_agent.rs
  agent/provider/src/startup_config.rs
  agent/requestor/src/payment.rs
  core/activity/src/provider/service.rs
  core/model/src/activity.rs
  core/model/src/payment.rs
  core/payment/Cargo.toml
  core/payment/examples/README.md
  core/payment/examples/payment_api.rs
  core/payment/migrations/2020-01-23-123456_init/down.sql
  core/payment/migrations/2020-01-23-123456_init/up.sql
  core/payment/src/api/provider.rs
  core/payment/src/api/requestor.rs
  core/payment/src/dao.rs
  core/payment/src/dao/activity.rs
  core/payment/src/dao/agreement.rs
  core/payment/src/dao/allocation.rs
  core/payment/src/dao/debit_note.rs
  core/payment/src/dao/debit_note_event.rs
  core/payment/src/dao/invoice.rs
  core/payment/src/dao/invoice_event.rs
  core/payment/src/dao/payment.rs
  core/payment/src/error.rs
  core/payment/src/models.rs
  core/payment/src/models/activity.rs
  core/payment/src/models/agreement.rs
  core/payment/src/models/allocation.rs
  core/payment/src/models/debit_note.rs
  core/payment/src/models/debit_note_event.rs
  core/payment/src/models/invoice.rs
  core/payment/src/models/invoice_event.rs
  core/payment/src/models/payment.rs
  core/payment/src/processor.rs
  core/payment/src/schema.rs
  core/payment/src/service.rs
  core/payment/src/utils.rs
  core/persistence/src/types.rs
  utils/agreement-utils/Cargo.toml
Labels: m-payment

#261 Payment module improvements
  Cargo.lock
  Cargo.toml
  agent/provider/src/payments/payments.rs
  core/payment/src/api/provider.rs
  core/payment/src/api/requestor.rs
  core/payment/src/dao/debit_note.rs
  core/payment/src/dao/debit_note_event.rs
  core/payment/src/dao/invoice.rs
  core/payment/src/dao/invoice_event.rs
  core/payment/src/dao/payment.rs
  core/payment/src/error.rs
  core/payment/src/models/debit_note.rs
  core/payment/src/models/debit_note_event.rs
  core/payment/src/models/invoice.rs
  core/payment/src/models/invoice_event.rs
  core/payment/src/processor.rs
  core/payment/src/service.rs
  core/payment/src/utils.rs
Labels: m-payment

#258 Decentralized market - project structure
  .github/workflows/rust.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  agent/provider/Cargo.toml
  core/market/decentralized/Cargo.toml
  core/market/decentralized/examples/discovery_usage.rs
  core/market/decentralized/src/lib.rs
  core/market/decentralized/src/market.rs
  core/market/decentralized/src/matcher/matcher.rs
  core/market/decentralized/src/matcher/mod.rs
  core/market/decentralized/src/matcher/resolver.rs
  core/market/decentralized/src/negotiation/errors.rs
  core/market/decentralized/src/negotiation/mod.rs
  core/market/decentralized/src/negotiation/provider.rs
  core/market/decentralized/src/negotiation/requestor.rs
  core/market/decentralized/src/protocol/callbacks.rs
  core/market/decentralized/src/protocol/discovery.rs
  core/market/decentralized/src/protocol/mod.rs
  core/market/decentralized/tests/test_market_initialization.rs
  core/market/decentralized/tests/utils.rs
  core/market/forwarding/Cargo.toml
  core/market/forwarding/diesel.toml
  core/market/forwarding/examples/market-dao-test.rs
  core/market/forwarding/migrations/2020-02-03-152610_init/down.sql
  core/market/forwarding/migrations/2020-02-03-152610_init/up.sql
  core/market/forwarding/src/api.rs
  core/market/forwarding/src/dao.rs
  core/market/forwarding/src/dao/agreement.rs
  core/market/forwarding/src/db.rs
  core/market/forwarding/src/db/models.rs
  core/market/forwarding/src/db/schema.rs
  core/market/forwarding/src/error.rs
  core/market/forwarding/src/lib.rs
  core/market/forwarding/src/service.rs
  core/serv/Cargo.toml
  core/serv/src/main.rs
  utils/process/Cargo.toml
Labels: m-market

#267 Payment API examples update
  Cargo.lock
  core/payment/Cargo.toml
  core/payment/examples/README.md
  core/payment/examples/invoice_flow.rs
  core/payment/examples/payment_api.rs
Labels: m-payment

#271 Payment events timeout parameter added
  Cargo.lock
  Cargo.toml
  agent/provider/src/payments/payments.rs
  agent/requestor/src/payment.rs
  core/payment/examples/invoice_flow.rs
  core/payment/src/api.rs
  core/payment/src/utils.rs
Labels: enhancement, m-payment

#275 add `--one-agreement` argument to requestor
  agent/provider/readme.md
  agent/requestor/src/main.rs
  agent/requestor/src/market.rs
  agent/requestor/src/payment.rs
Labels: enhancement
